

@media (max-width: 700px) {
    // Тут делаем бургер
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 125px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #007fff;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .menu__contact{
        display: none;
    }
    //тут делаем под хидерное пространство 
    .underheader__main__content{
        
    }
    // Тут Бенефитс 
    .benefits__content{
        display: flex;
        flex-direction: column;
        .benefits__body{
            padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    ._container{
        display: flex;
        flex-direction: column;
    }
    .construction__month_bar{
        display: flex;
        flex-direction: column;
        button{
            margin: 10px 0;
        }
    }
    .map__legend{
        transform: scale(0.8) !important;
    }
    .underheader__main__content{
        flex-direction: column !important;
        .advertation_body{
            width: auto !important;
            button{
                margin-right: 10px !important;
                &:last-child{
                    margin: 0 !important;
                }

            }
        }
    }
}
@media (max-width:1000px) {
    .advertation_body{
        width: auto !important;
    }
    .photo__body{
        justify-content: center !important;
    }
    .where__to__buy{
        p{
            font-size: 12px;
        }
    }   h3{
        font-size: 16px !important;
    }
    .user__info{
        p{
            padding-top: 12px;
        }
    }
    .feedback__body{
        flex-wrap: wrap;
        .feedback__card{
            margin: 10px 10px !important;
        }
        
    }
    .footer__1st__section{
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        .left__section{
            margin-bottom: 10px;
        }
        .right__section{
            .button__block{
                margin-left:150px !important;
                button{
                    width: auto !important;
                }
            }
        }
    }
    .footer__2nd__section{
        .phone{
            h3{
                font-size: 12px !important;
            }
        }
    }
    
}
@media (max-width:1070px) {
    .where__to__buy{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .right_section_wrapper{
            transform: rotate(90deg);
        }
        .right_section_main_content{
            margin-top: 20px;
            transform: rotate(270deg);
        }
    }
    
}
@media (max-width:1200px) {
    .partners__content{
        flex-direction: column;
    }
    .photo__body{
        justify-content: center !important;
    }
    .slider__box{
        justify-content: center !important;
    }
    .benefits__zone{
        display: flex !important;
        justify-content: space-around !important;
    }
}
@media (max-width: 1300px) {
    .underheader__main__content{
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
    .benefits__zone{
        display: flex !important;
        justify-content: space-around !important;
    }

    
}
